<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlLogin</servlet-name>
        <servlet-class>controlador.controlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlRegistro</servlet-name>
        <servlet-class>controlador.controlRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarrito</servlet-name>
        <servlet-class>controlador.AddCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarArtCarrito</servlet-name>
        <servlet-class>controlador.BorrarArtCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlBusqueda</servlet-name>
        <servlet-class>controlador.controlBusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlListaPedidoFecha</servlet-name>
        <servlet-class>controlador.controlListaPedidoFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlPedidosUnCliente</servlet-name>
        <servlet-class>controlador.controlPedidosUnCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlPedidosUnProducto</servlet-name>
        <servlet-class>controlador.controlPedidosUnProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlCerrarSesion</servlet-name>
        <servlet-class>controlador.controlCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlProductosPedidosUnCliente</servlet-name>
        <servlet-class>controlador.controlProductosPedidosUnCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlProductosPorFecha</servlet-name>
        <servlet-class>controlador.controlProductosPorFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlVistaProducto</servlet-name>
        <servlet-class>controlador.controlVistaProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlCategoria</servlet-name>
        <servlet-class>controlador.controlCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlBusquedaPorPrecio</servlet-name>
        <servlet-class>controlador.controlBusquedaPorPrecio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlOfertas</servlet-name>
        <servlet-class>controlador.controlOfertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlPrecioTotal</servlet-name>
        <servlet-class>controlador.controlPrecioTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarArtCarritoFinal</servlet-name>
        <servlet-class>controlador.borrarArtCarritoFinal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlModificarDatosPersonales</servlet-name>
        <servlet-class>controlador.controlModificarDatosPersonales</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlLogin</servlet-name>
        <url-pattern>/controlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlRegistro</servlet-name>
        <url-pattern>/controlRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarrito</servlet-name>
        <url-pattern>/AddCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarArtCarrito</servlet-name>
        <url-pattern>/BorrarArtCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlBusqueda</servlet-name>
        <url-pattern>/controlBusqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlListaPedidoFecha</servlet-name>
        <url-pattern>/controlListaPedidoFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlPedidosUnCliente</servlet-name>
        <url-pattern>/controlPedidosUnCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlPedidosUnProducto</servlet-name>
        <url-pattern>/controlPedidosUnProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlCerrarSesion</servlet-name>
        <url-pattern>/controlCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlProductosPedidosUnCliente</servlet-name>
        <url-pattern>/controlProductosPedidosUnCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlProductosPorFecha</servlet-name>
        <url-pattern>/controlProductosPorFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlVistaProducto</servlet-name>
        <url-pattern>/controlVistaProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlCategoria</servlet-name>
        <url-pattern>/controlCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlBusquedaPorPrecio</servlet-name>
        <url-pattern>/controlBusquedaPorPrecio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlOfertas</servlet-name>
        <url-pattern>/controlOfertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlPrecioTotal</servlet-name>
        <url-pattern>/controlPrecioTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarArtCarritoFinal</servlet-name>
        <url-pattern>/borrarArtCarritoFinal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlModificarDatosPersonales</servlet-name>
        <url-pattern>/controlModificarDatosPersonales</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
